services:
  backend:
    build: ./backend
    container_name: mern-backend
    ports:
      - "9001:9000"
    env_file:
      - ./backend/.env

  frontend:
    build:
      context: ./frontend
    container_name: mern-frontend
    ports:
      - "3000:80"
    environment:  
      - VITE_BACKEND_URL=http://localhost:9001
    depends_on:
      - backend
    restart: always
